<div class="flex flex-wrap justify-center md:justify-between my-10">
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
</div>


<div class="flex flex-wrap justify-center md:justify-between my-10">
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
</div>

<div class="flex flex-wrap justify-center md:justify-between my-10">
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
</div>

<div class="flex flex-wrap justify-center md:justify-between my-10">
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
    <div class="flex flex-col border border-slate-300 w-[2/5] sm:w-[48%] md:w-[12vw] relative mb-5">
        <img class="relative p-11 pb-3 pt-6" src="a.png" alt="">
        <p class="relative text-[0.9rem] text-center pb-10 font">Abrasives</p>
    </div>
</div>
