<header class="bg-[#0C304B] w-full flex flex-col items-center justify-center">
    <div class="flex flex-wrap justify-between w-full px-6 md:px-24 items-center bg-[#082032] p-4">
        <div class="flex flex-col md:flex-row justify-center items-center gap-3 md:gap-5">
            <p class="text-base md:text-[1vw] text-center p-1 m-0 text-white flex items-center">
                All Products
                <img src="/material-symbols_keyboard-arrow-down.svg" alt="" class="ml-1">
            </p>
            <p class="text-base md:text-[1vw] text-center p-1 m-0 text-white">
                Request for Quote
            </p>
        </div>

        <div class="flex flex-col md:flex-row gap-3 md:gap-5 mt-3 md:mt-0">
            <div class="flex flex-row justify-center items-center">
                <img src="call_24dp_E8EAED_FILL1_wght400_GRAD0_opsz24.svg" alt="" class="h-4 md:h-auto">
                <p class="text-sm md:text-[0.8vw] text-center p-1 m-0 text-white ml-2">
                    1-800-12345
                </p>
            </div>
            <div class="flex flex-row justify-center items-center">
                <img src="account.svg" alt="" class="h-4 md:h-auto">
                <p class="text-sm md:text-[0.8vw] text-center p-1 m-0 text-white ml-2">
                    tools&#64;humcommerce.com
                </p>
            </div>
        </div>
    </div>
</header>