<app-header></app-header>
<app-subheader></app-subheader>
<div class="flex justify-center w-full mt-3">
    <div class="w-[90vw] ">
        <app-cards></app-cards>
        <div class="flex flex-row justify-between items-center ">
            <p class="text-xl mt-8 font-medium max-md:text-[3vw]">Shop By Category</p>
            <p class="flex flex-row text-xl mt-8 font-bold text-[#1968B4] max-md:text-[3vw]"> View All Categories <img class="mx-2" src="arrow-long-right.svg" alt=""> </p>
        </div>
        <app-productlist></app-productlist>
        
    </div>
</div>

<div class="flex justify-center w-full mt-3 bg-[#F4F4F5]">
    <app-footer></app-footer>
</div>
