<footer class="bg-[#F4F4F5] text-[#6C6764] py-11 ">
    <div class="flex flex-row  w-[90vw] justify-start gap-[10vw] max-md:flex-col">
        <div class="flex flex-col">
            <div class="text-m text-[#4A3F46] font-semibold mb-4">Information</div>
            <div class="flex flex-col leading-5 w-[8vw]">
                <div class="text-sm hover:underline">About Us</div>
                <div class="text-sm hover:underline">Terms & Conditions</div>
                <div class="text-sm hover:underline">Privacy Policy</div>
                <div class="text-sm hover:underline">Join Us</div>
            </div>
        </div>
        <div class="space-y-4">
            <div class="text-m text-[#4A3F46] font-semibold mb-4">Quick Links</div>
            <div class="flex flex-col leading-5 w-[8vw]">
                <div class="text-sm hover:underline">Meet the Team</div>
                <div class="text-sm hover:underline">Line Card</div>
                <div class="text-sm hover:underline">Contact Us</div>
                <div class="text-sm hover:underline">My Account</div>
            </div>
        </div>
        <div class="space-y-4">
            <div class="text-m text-[#4A3F46] font-semibold mb-4">Customer service</div>
            <div class="flex flex-col leading-5  w-[8vw]">
                <div class="text-sm hover:underline">Invoicing & Credit</div>
                <div class="text-sm hover:underline">Return Policy</div>
                <div class="text-sm hover:underline">Conflict Material Policy</div>
                <div class="text-sm hover:underline">Contact Us</div>
            </div>
        </div>
        <div class="space-y-4">
            <div class="text-m text-[#4A3F46] font-semibold mb-4">Contact Us</div>
            <div class="text-sm mb-4 w-[8vw]">Questions? Call Us</div>
            <div class="flex items-center mb-4">
                <img src="./assets/material-symbols_call.svg" alt="" class="mr-2">
                <div class="text-sm">1-800-12345</div>
            </div>
            <div class="flex space-x-4">
                <div class="hover:opacity-75"><img src="./assets/uil_facebook.svg" alt="" class="w-6 h-6"></div>
                <div class="hover:opacity-75"><img src="./assets/mdi_twitter.svg" alt="" class="w-6 h-6"></div>
                <div class="hover:opacity-75"><img src="./assets/mdi_instagram.svg" alt="" class="w-6 h-6"></div>
            </div>
        </div>
        <div class="space-y-4">
            <div class="text-2xl font-semibold mb-4">Get Latest Updates!</div>
            <div class="text-sm mb-4">Subscribe for latest offers</div>
            <div class="flex">
                <input class="p-2 rounded-l-md  border-gray-300 w-full" placeholder="johndoe@gmail.com" type="email" name="" id="">
                <input class="bg-blue-600 text-white px-4 py-2 rounded-r-md hover:bg-blue-700 cursor-pointer" type="submit" value="Subscribe">
            </div>
        </div>
    </div>
    <hr class="my-8 border-gray-700">
    <div class="text-center text-sm py-4">
        <p>Copyright2023 HumCommerce Business. All Rights Reserved.</p>
    </div>
</footer>
