<header class="bg-[#0C304B] w-full flex flex-col items-center justify-center">
    <section class="flex flex-wrap items-center justify-between w-full gap-[5vw] p-5">
      <!-- Logo and Hamburger Menu -->
      <div class="flex items-center">
        <img src="/Logo.png" alt="Logo" class="h-[2.6vw]">
        <img 
          src="/hamburger.png" 
          alt="Menu" 
          class="h-8 ml-4 md:hidden cursor-pointer" 
          (click)="toggleMenu()">
      </div>
  
      <!-- Mobile Menu -->
      <div *ngIf="menuVisible" class="flex-col w-full bg-[#0C304B] text-white p-5">
        <a href="#" class="block py-2 text-[1vw]">Account Management</a>
        <a href="#" class="block py-2 text-[1vw]">Request Quote</a>
        <a href="#" class="block py-2 text-[1vw]">Quick Order Form</a>
        <a href="#" class="block py-2 text-[1vw]">Cart</a>
      </div>
  
      <!-- Search Bar -->
      <div class="flex-grow max-w-[35vw] hidden md:flex items-center border overflow-hidden bg-white px-[1vw] py-[0.2vw]">
        <input 
          type="text" 
          placeholder="Search by keyword or part number..." 
          class="w-full p-2 focus:outline-none font-sans text-[1vw]">
        <img src="magnifying-glass.svg" alt="Search" class="h-full">
      </div>
  
      <!-- Action Items -->
      <div *ngIf="!isMobile()"  class="flex flex-row gap-[3vw]">
        <div class="flex flex-col justify-center items-center">
          <img src="account.svg" alt="">
          <p class="text-[0.8vw] text-center p-1 m-0 text-white font-medium">Account <br> Management</p>
        </div>
        <div class="flex flex-col justify-center items-center">
          <img src="paper_fill.svg" alt="">
          <p class="text-[0.8vw] text-center p-1 m-0 text-white font-medium">Request <br> Quote</p>
        </div>
        <div class="flex flex-col justify-center items-center">
          <img src="notepad.svg" alt="">
          <p class="text-[0.8vw] text-center p-1 m-0 text-white font-medium">Quick Order <br> Form</p>
        </div>
        <div class="flex flex-col justify-center items-center">
          <img src="cart.svg" alt="">
          <p class="text-[0.8vw] text-center p-1 m-0 text-white font-medium">Cart</p>
        </div>
      </div>
    </section>
  </header>
  